/*Header*/
.nav{
    padding-left: 150px;
}
header{
    background-color:#0a2239;

}
.logo img{
    height: 60px;
    width: 60px;
    margin-left: 15px;
    margin-top: 15px;
}


/*Acceuil*/
.triangle-noir{
    background-color: #0a2239;
    height: 100vh;  
    position: absolute;
    z-index: 10;
    -webkit-clip-path: polygon(100% 0, 20% 100%, 0 100%, 0 0);
    clip-path: polygon(100% 0, 20% 100%, 0 100%, 0 0);
}

.polygone-rose{
    background-color: #89023e;
    height: 100vh;
    width: 100vw; 
}

.apropos h1{
    font-size: 100px;
    margin-top: 180px;
}        

.alexandre{
    justify-content: flex-end;
}

.skew p{
    margin-top: 250px;
    margin-right: 600px;
    font-family: "Montserrat";
    color:#0a2239;
    font-size: 25px;
    max-width:400px;
}
div.photobackground{
    content:"";
    position:absolute;
    bottom:0;
    right:0;width:100%;height:100%;
    background-image: url(../img/alexandre-ecalle-photo.png);
    background-size: contain;
    background-position: bottom right;
    justify-content: flex-end;
    background-repeat: no-repeat;
    opacity: 0.3;
}