/*Header*/
.nav{
    padding-left: 150px;
}
header{
    background-color:#0a2239;

}

.logo img{
    height: 80px;
    width: 80px;
    margin-left: 15px;
    margin-bottom: 100px;
}

/*Acceuil*/
.triangle-noir{
    background-color: #0a2239;
    height: 100vh;  
    position: absolute;
z-index: 10;
-webkit-clip-path: polygon(100% 0, 20% 100%, 0 100%, 0 0);
clip-path: polygon(100% 0, 20% 100%, 0 100%, 0 0);

}

.polygone-rose{
    background-color: #89023e;
    height: 100vh;
}

.contact h1{

font-size: 80px;
    
}

.info-contact h3

{
    color: antiquewhite;
    font-size: 19px;
    font-family: "Montserrat";
    padding-left: 30px;
}







/* Formulaire */

form{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
#name,#email,#message{
    background-color:rgb(255, 250, 247, 0.4);
    opacity: 0,4;
    border: #0a2239;
    color: #89023e;

}

input::placeholder{
    color:rgb(255,250,247,0.5);
}


#name{
    margin-bottom: 5px;
    margin-top: 100px;
}

#email{
    margin-bottom: 5px;
}
#message{
    margin-bottom: 5px;
}