/* Header*/
header{
    background-color: #89023e;
}

.logo{
    height: 100px;
    width: 100px;
}

.logo img{
height: 80px;
width: 80px;
margin-top: 35px;
margin-left: 15px;

    
}
/*Section*/
.section1
{
    background-color: #89023e;
}
.section1 .titre{
    text-align: center;
    font-family: "Norwester";
    color: #f25252;

}

.titre h1{
    font-size: 70px;
}
