
body{
    background-color:#0a2239;
}
/*Header*/ 
.nav{
    padding-left: 150px;
}
header{
    background-color:#0a2239;

}
.logo img{
    height: 60px;
    width: 60px;
    margin-left: 15px;
    margin-top: 15px;
}


/*Acceuil*/
.triangle-noir{
    background-color: #0a2239;
    height: 100vh;  
    position: absolute;
z-index: 10;
-webkit-clip-path: polygon(100% 0, 20% 100%, 0 100%, 0 0);
clip-path: polygon(100% 0, 20% 100%, 0 100%, 0 0);


}

.polygone-rose{
    background-color: #0a2239;
    height: 100vh;
    
    
}

.contact h1{

font-size: 100px;
margin-top: 180px;
    
}

.info-contact h3

{
    color: antiquewhite;
    font-size: 19px;
    font-family: "Montserrat";
    padding-left: 30px;
}









/*reset modal*/

.modal-content{
    background-color: rgb(255,255,255,0);
    border: 0px;
}
.email {
    margin-left: 485px; 
    padding: 0;

    
    
  /* Formulaire Modal*/ 
}
.email button{
    height: 50vh;
    width: 1385px;
    z-index: 0;
    background-image: url(../img/email-thumbnail.jpg);
    color: #89023e;
    font-size: 60px;
    font-family: "Norwester";
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
}

#name,#email,#message,#send{
    background-color:#89023e;
    opacity: 0,4;
    border: #0a2239;
    color: #fffaf7;
    font-family: "Montserrat";
}




   


input::placeholder{
    color:rgb(255,250,247,0.5);
}


#name{
    margin-bottom: 5px;
    
}

#email{
margin-bottom: 5px;
}
#message{
    margin-bottom: 5px;
}

 /* Map modal*/
 .map{
    margin-left: 145px; 
    padding: 0;
    z-index: 0;
    
    
   
}
.map button{
    height: 50vh;
    width: 1710px;
    z-index: 0;
    background-image: url(../img/map-thumbnail.jpeg);
    color: #89023e;
    font-size: 60px;
    font-family: "Norwester";
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
}


 